.sidebarOptions {
	display: flex;
	align-items: center;
	font-size: 12px;
	padding-left: 12px;
	cursor: pointer;
	margin-bottom: 10px;
}

.sidebarOptions:hover {
	background-color: var(--slack-hover);
	opacity: 0.9;
}

.sidebarOptions__icon {
	padding: 10px;
	font-size: 15px !important;
}

.sidebarOptions__channel {
	padding: 10px 0;
	overflow: scroll;
}

.sidebarOptions__channel::-webkit-scrollbar {
	display: none;
}

.sidebarOptions__hash {
	padding: 10px;
}

.sidebarOptions > h3 {
	font-weight: 500;
}
